/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
	background-color: #ddd;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}

/*header */
.header{
  background-color: #25b99a;
	padding: 15px;
	height: 50px;
	border-radius: 0 0 10px 10px;
	box-shadow: 0px 2px 4px rgba(44,62,80,0.15);
}

.header__input-field{
	float:right;
	border: none;
	outline: none;
	box-shadow: none;
	width: 10%;
	height: 50px;
	padding-left: 10px;
	background-color: rgba(255,255,255,0.2);
	border-radius: 5px 25px 25px 5px;
	-webkit-appearance: none;
	color: rgba(255,255,255,0.75);
	font-size: 0.8em;
	font-weight: 400;
	transition: width .4s ease-in-out;
}

.header__input-field:hover:focus{
	width: 100%;
}

.header__input-field::-webkit-input-placeholder{
	color: rgba(255,255,255,0.75);
	font-weight: 400;
}

.header__button{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	top: 15px;
	right: 5px;
	margin-left: 15px;
	-webkit-appearance: none;
	background-color: #fff;
	box-shadow: none;
	border: none;
	outline: none;
	cursor: pointer;
}

.header__button:hover{
	color: #25b99a;
	background-color: #eee;
}

/* container */
.container{
	width: 50%;
	margin: 10px auto;
	background-color: #EDEFF0;
	border-radius: 5px;
	padding:10px;
	display: none;
}

.container__title{
	padding-bottom: 5px;
	color: #7f8c8d;
	text-align: center;
	font-weight: 300;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
}

.container__title::after{
  content: "";
	text-align: center;
	display: block;
	margin: 0 auto;
	background-color: #ddd;
	width: 200px;
	height: 1px;
}

.container__list{
	width: 100%;
	margin: 0px !important;
	padding: 0px !important;
}

.container__listitem{
	position: relative;
	display: block;
	min-height: 50px;
	height: 50px;
	background-color: #fff;
	box-shadow: 0px 2px 4px rgba(44,62,80,0.15);
	border-radius: 5px;
	list-style-type: none;
	margin: 0 0 10px 0;
	padding: 0px 100px 0 15px;
	line-height: 50px;
	color: #7f8c8d;
	font-weight: 400;
	font-size: 0.7em;
	transition: all 0.2s ease;
}

.container__listitem:last-child{
  margin-bottom: 0;
}

.container__listitem:hover{
	box-shadow: 0px 5px 4px rgba(44,62,80,0.15);
}

.container__list-completed{
	text-decoration: line-through;
	color: #ddd;
}

.container__listitem-buttons{
	width: 120px;
	height: 50px;
	position: absolute;
	top: 0;
	right: 0;
}

.container__listitem-buttons button{
	width: 40px;
	height: 40px;
	border: none;
	outline: none;
	background: none;
	box-shadow: none;
	-webkit-appearance: none;
}

.container__listitem-remove:before{
	content: '';
	width: 1px;
	height: 25px;
	position: absolute;
  top: 10px;
	left: 0px;
	background-color: #eee;
}

/* modal */

/*container-listitem icons */
.fa.fa-plus{
	color: #25b99a;
}

.fa.fa-info{
	color: #f1c40f;
	transition: all 0.2s ease;
}

.fa.fa-info:hover{
	color: #f39c12;
}

.fa.fa-trash-o, .fa-sticky-note{
	color: #ccc;
	transition: all 0.2s ease;
}

.fa-sticky-note{
	margin-right: 20px;
}

.fa.fa-trash-o:hover{
	color: #e74c3c;
}

.fa.fa-check-circle-o,.fa.fa-check-circle{
	color: #1abc9c;
	transition: all 0.2s ease;
}

.fa.fa-check-circle-o:hover{
	color: #16a085;
}

@media screen and (max-width: 769px) {
    .container{
			width: 95%;
		}

		.header__input-field{
			width: 30%;
		}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
